@charset "UTF-8";
* {margin: 0;padding: 0;vertical-align: middle;box-sizing: border-box;}
html, body {width: 100%;height: 100%;font-size: 14px;font-family: 'Noto Sans KR';}
html {overflow-y:scroll;}
/* html::-webkit-scrollbar {display: none;} */
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 14px;}
em, i, address {font-style: normal;}
ul, li {list-style: none;}
.clearfix::after{content: '';display: block; clear: both;}
.hide {display: none;}
.blind {text-indent: -2000px;overflow: hidden;}
a {text-decoration: none;}
a:hover {outline: 0;}
a:focus {outline: 0;}
table {border-collapse: collapse;}
button {border: 0;background: transparent;}

.hidden{position: absolute !important; margin: -1px !important; padding: 0 !important; width: 1px !important; height: 1px !important; border: none !important; clip: rect(1px, 1px, 1px, 1px) !important; overflow: hidden !important}
.a11y-hidden {overflow: hidden; clip:rect(0 0 0 0); clip:rect(0,0,0,0); position: absolute;width: 1px;height: 1px;margin: -1px;border: 0;padding: 0;}
.a11y-hidden.focusable:focus, .a11y-hidden.focusable:active {outline: visible; clip:auto; position: static; width: auto;height: auto;margin: 0;}