@charset "UTF-8";
*{-webkit-text-size-adjust:none;letter-spacing:-0.02em;word-break:keep-all;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,
nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,
nav,section {
  display: block;
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Noto Sans KR',Helvetica,AppleGodic,sans-serif;
  color: #323232;
  line-height: 1;
  background-color: #fff;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: 0;
  background: transparent;
  font-family: "Noto Sans KR","Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",Helvetica,sans-serif;
}
.a11y-hidden {overflow: hidden !important; clip:rect(0 0 0 0); clip:rect(0,0,0,0); position: absolute;width: 1px !important;height: 1px !important;margin: -1px;border: 0;padding: 0;}
.a11y-hidden.focusable:focus, .a11y-hidden.focusable:active {outline: visible; clip:auto; position: static; width: auto;height: auto;margin: 0;}

/* header */
.header{width: 100%;height: 80px;background: #fff;box-shadow: 0 0 30px rgb(0 0 0 / 30%);position: fixed;top: 0;left: 0;z-index: 10;border-bottom: 1px solid #cfcfcf;}
.header-box{height: 100%;max-width: 1920px;margin: 0 auto;transition: all .6s;display: flex;justify-content: space-between;align-items: center;}
#logo{padding-left: 30px;}
#logo a,.mobile-logo{display: block;width: 90px;height: 20px;background: url(../images/logo.png) no-repeat 0 0;font-size: 0;text-indent: -9999px;}
.mobile-logo{}
.main-nav a{display: inline-block;font-size: 16px;color: #676767;font-weight: 500;text-decoration: none;position: relative;margin: 0 26px;}
.main-nav a::after{content: '';width: 0;height: 2px;position: absolute;bottom: -10px;left: 50%;transform: translateX(-50%);background: #141dad;transition: width 0.3s;}
.main-nav a:hover{color: #323232;}
.main-nav a:hover::after{width: 100%;}
.local-area{display: flex;justify-content: flex-end;align-items: center;}
.local-area nav a{display: inline-block;font-size: 14px;color: #676767;font-weight: 500;padding: 33px 28px;border-left: 1px solid #ebebeb;}
.local-area .contactus{color: #141dad;}
.lang{display: inline-block;padding:10px 20px 10px 25px;position: relative;border-left: 1px solid #ebebeb;}
.btn-lang{font-size: 14px;color: #676767;font-weight: 500;letter-spacing: 0.02em;position: relative;}
.btn-lang .icon{display: inline-block;vertical-align: middle;width: 18px;height: 18px;position: relative;margin-right: 3px; order: 1; transform: rotateY(0deg); transition: transform .3s ease-out;}
.btn-lang:hover .icon{transform: rotateY(1turn);}
.btn-lang .icon svg path{fill: #2bb4a6;}

/* Languages area */
.linkLang_area{display:inline-block;position:relative;font-size:0;vertical-align:top;}
.linkLang_title{display:inline-block;padding:33px 52px 33px 35px;font-size:14px;font-weight:500;color:#676767;border-left: 1px solid #ebebeb;position: relative;}
.linkLang_title:focus,.linkLang_title:hover{color:#333;text-decoration:none;}
.linkLang_title::after {display: block;content: "";width: 22px;height: 20px;background: url(../images/bg_footer.png) no-repeat -115px 6px;position: absolute;right: 25px;top: 50%;transform: translateY(-50%);}
.linkLang_ul{display:none;position:absolute;top:80px;left:0;width:100%;height:0;text-align:left;overflow:hidden;transition:height .3s;}
.displayLangPopup .linkLang_ul{display:block;}
.linkLang_ul.langPopupOn{height:72px;}
.linkLang_a{display:inline-block;width:100%;padding:12px 10px 12px 40px;font-size:12px;color:#666;background:rgba(255,255,255,0.7);box-sizing: border-box;}
.linkLang_a:focus,.linkLang_a:hover{color:#141dad;}

.main-visual{width: 100%;height: 740px;overflow: hidden;
  
}
/* .main-visual .background{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff61ac,#3ec9c4);
  display: flex;flex-direction: column;justify-content: space-between;align-items: center;
}
.main-visual .background .color:nth-child(1) {
  width: 600px;
  height: 250px;
  background: #59b4eb;
  filter: blur(150px);
}
.main-visual .background .color:nth-child(2) {
  width: 600px;
  height: 250px;
  background: #b97fe1;
  filter: blur(150px);
} */

.main-visual .background,
.section2 .background,
.section5 .background{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ff61ac,#3ec9c4);
  display: flex;flex-direction: column;justify-content: space-between;align-items: center;
  position: relative;
}
.main-visual .background::before,
.hexvision-visual > .background::before,
.section5 .background::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  pointer-events: none;
}
.main-visual .background .color:nth-child(1),
.hexvision-visual >  .background .color:nth-child(1),
.section5 .background .color:nth-child(1) {
  width: 600px;
  height: 250px;
  background: #d5edfb;
  filter: blur(150px);
}
.main-visual .background .color:nth-child(2),
.hexvision-visual > .background .color:nth-child(2),
.section5 .background .color:nth-child(2) {
  width: 600px;
  height: 250px;
  background: #e0c4f3; 
  filter: blur(150px);
}

.section1{width: 100%;height: 820px;background: linear-gradient(0deg, #ebebed,#dddcde);}
.section1 .con-box{max-width: 1180px;height: 100%;padding: 0 10px;margin: 0 auto;background: url(../images/bg_main_section1.png) no-repeat center bottom;}
.section1 .con-box > div{display: flex;justify-content: space-between;align-items: flex-end;font-size: 32px;color: #323232;padding: 110px 40px 40px;}
.section1 .con-box > div p{line-height: 1.35;}
.section1 .con-box > div strong{font-size: 48px;font-weight: 700;}
.section1 .con-box > div a{display: inline-block;padding: 5px;font-size: 13px;color: #fff;}
.section1 .con-box > div a span{font-size: 22px;top: 6px;position: relative;}

.section1 .con-box > ul{display: flex;justify-content: space-between;}
.section1 .con-box > ul li{display: flex;flex-direction: column;justify-content: space-between;align-items: center; width: 380px;height: 260px;border-radius: 15px;background: rgba(255,255,255,0.5);padding: 70px 55px;box-sizing: border-box;}
.section1 .con-box > ul li strong{font-size: 60px;color: #141dad;font-weight: 700;font-family: Arial;}
.section1 .con-box > ul li span{font-size: 16px;font-weight: 500;line-height: 1.5;text-align: center;}

.section2{height: 320px;position: relative;}
.section2 .background{background: linear-gradient(90deg, #ff97df,#68f0ed);overflow: hidden;}
.section2 .background .color:nth-child(1){
  width: 600px;
  height: 110px;
  background: #61bdf5;
  filter: blur(90px);
}
.section2 .background .color:nth-child(2){
  width: 600px;
  height: 110px;
  background: #ac39f7;
  filter: blur(90px);
}
.section2 .con-box{display: flex;justify-content: center;align-items: center; width: 100%;max-width: 1180px;height: 100%;padding: 0 10px;margin: 0 auto;position: absolute;left: 50%;top: 0;transform: translateX(-50%);box-sizing: border-box;}
.section2 .con-box::before{display: block;content: '';width: 132px;height: 132px;border-radius: 50%;filter: blur(5px);background-color:rgba(255,255,255,0.2);position: absolute;left: 5px;top: 95px;}
.section2 .con-box::after{display: block;content: '';width: 122px;height: 122px;background-image:url(../images/bg_main_section2.png);position: absolute;left: 10px;top: 100px;}
.section2 .con-box p{width: 720px;font-size: 32px;color: #141dad;line-height: 1.5;text-align: center;}
.section2 .con-box p strong{font-size: 48px;font-weight: 700;}
.section2 .con-box a{display: inline-block;padding: 5px;font-size: 13px;color: #141dad;position: absolute;right: 40px;bottom: 65px;}
.section2 .con-box a span{font-size: 22px;top: 6px;position: relative;}

.section3{background: #fafafa;overflow: hidden;padding-bottom: 100px;}
.section3 .con-box{width: 100%;max-width: 1180px;height: 100%;padding: 104px 10px 38px 10px;margin: 0 auto;}
.section3 .con-box p{font-size: 32px;line-height: 1.5;padding-left: 38px;}
.section3 .con-box p strong{font-size: 48px;font-weight: 700;}
.section3 .swiper{width: 100%;max-width: 1180px;overflow: initial;}
.section3 .swiper li{width: 380px;height: 410px;background: #fafafa url(../images/img_section03_bg01.png) no-repeat center bottom;border-radius: 15px;box-shadow: 0 0 30px rgb(0 0 0 / 10%);}
.section3 .swiper li:nth-child(2){background-image: url(../images/img_section03_bg02.jpg);}
.section3 .swiper li:nth-child(3){background-image: url(../images/img_section03_bg03.jpg);}
.section3 .swiper li:nth-child(4){background-image: url(../images/img_section03_bg04.jpg);}
.section3 .swiper li a{width: 100%;height: 100%;display: flex;align-items: flex-start;justify-content: center;padding: 35px 17px 0;box-sizing: border-box;}
.section3 .swiper li span{font-weight: 500;line-height: 1.5;}
.section3 .swiper li strong{display: block;margin-top: 15px;height: 27px;width: 100%;}

.section5{width: 100%;height: 318px;position: relative;}
.section5 .background{top: 0;left: 0;width: 100%;height: 100%;
  background: linear-gradient(90deg, #ff61ac,#3ec9c4);
  display: flex;flex-direction: column;justify-content: space-between;align-items: center;
  position: relative;
}
.section5 .con-box{width: 100%;max-width: 1180px;height: 100%;display: flex;justify-content: center;align-items: center;text-align: center;position: absolute;left: 50%;top: 0;transform: translateX(-50%);}
.section5 p{font-size: 32px;line-height: 1.5;}
.section5 strong{
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(90deg, rgba(255,97,172,1) 10%, rgba(12,120,255,1) 35%, rgba(20,29,173,1) 65%, rgba(62,201,196,1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.section5::after,
.footer::before{display: block;content: '';width: 100%;height: 6px;background: linear-gradient(90deg, rgba(255,97,172,1) 10%, rgba(12,120,255,1) 35%, rgba(20,29,173,1) 65%, rgba(62,201,196,1) 90%);position: absolute;left: 0;top: 0;}
.section5 .background .color{height: 110px;}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.section6{width: 100%;height: 600px;padding-top: 100px;box-sizing: border-box;}
.section6 .con-box{width: 100%;max-width: 1180px;height: 100%;margin: 0 auto;position: relative;}
.section6 h3{font-size: 24px;color: #141dad;font-weight: 700;font-family: Arial;padding-left: 40px;padding-bottom: 47px;}
.section6 ul{display: flex;justify-content: space-between;}
.section6 li{width: calc((100% - 60px)/3);border-radius: 15px;box-shadow: 0 0 20px rgb(0 0 0 / 40%);}
.section6 li a{display: block;}
.section6 li a .img-box{overflow: hidden;border-radius: 15px 15px 0 0;font-size: 0;}
.section6 li a img{width: 100%;height: auto;transform: scale(1);transition: all .5s;}
.section6 li a:hover img{-ms-transform: scale(1.05);-webkit-transform: scale(1.05);transform: scale(1.05);}
.section6 li a p{color: #bcbcbc;font-size: 16px;background: #4a4c49;border-radius: 0 0 15px 15px;padding: 19px 20px 20px;}
.section6 li a p span{overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;line-height: 1.2;}
.section6 .con-box > a {display: inline-block;padding: 5px;font-size: 13px;color: #141dad;position: absolute;right: 40px;top: -5px;}
.section6 .con-box > a span{font-size: 22px;top: 6px;position: relative;}

.section7{width: 100%;height: 319px;background:url(../images/bg_main_contactus.jpg) no-repeat center center;position: relative;}
.section7 .con-box{display: flex;justify-content: space-between;align-items: flex-end;max-width: 1180px;height: 100%;padding: 100px 10px;margin: 0 auto;box-sizing: border-box;}
.section7 p{font-size: 32px;color: #fff;line-height: 1.4;}
.section7 p strong{font-size: 48px;font-weight: 700;}
.section7 a{display: block;width: 150px;height: 48px;color: #fff;font-weight: 700;line-height:44px;text-align: center;background: url(../images/bg_btn_contactus.png) no-repeat center center;margin-bottom: 5px;}

.footer{width: 100%;height: 246px;position: relative;padding-top: 50px;box-sizing: border-box;}
.footer::after{display: block;content: '';width: 100%;height: 1px;background: #e7e7e7;position: absolute;left: 0;bottom: 80px;}
.footer-logo{display: block;content: '';width: 100px;height: 33px;background:url(../images/bg_footer.png) no-repeat 0 0;margin: 0 auto;font-size: 0;text-indent: -9999px;}
.footer .box-wrap{width: 100%;max-width: 1180px;display: flex;justify-content: space-between;align-items: center;margin: 0 auto;}
.footer .box-wrap a{font-size: 14px;color: #676767;}
.footer > div:nth-child(2){margin-top: 10px;margin-bottom: 50px;}
.sns-link{width: 200px;display: flex;align-items: center;}
.sns-link a{display: inline-block;width: 21px;height: 21px;background:url(../images/bg_footer.png) no-repeat 0 -49px;margin-right: 13px;font-size: 0;text-indent: -9999px;}
.sns-link a:nth-child(2){background-position: -34px -49px;}
.sns-link a:nth-child(3){width: 14px;height: 26px;background-position: -66px -46px;}
.sns-link a:nth-child(4){width: 27px;height: 20px;background-position: -92px -48px;}

.family-link {width: 200px;position: relative;}
.family-link img {position: absolute;top: 0;left: -60px;}
.family-link button {width: 100%;height: 42px;font-size: 14px;color: #676767;letter-spacing: 0.03em;text-align: left;border:2px solid #bcbcbc;border-radius: 8px;padding-right: 40px;padding-left: 14px;position: relative;line-height: 5px;background: #fff;cursor: pointer;z-index: 3;}
/* .family-link button::before{display: block;content: "";width: 2px;height: 40px;background: #767676;position: absolute;right: 40px;top: 0;} */
.family-link button::after {display: block;content: "";width: 22px;height: 20px;background: url(../images/bg_footer.png) no-repeat -115px 5px;position: absolute;right: 10px;top: 10px;}
.family-link ul {display: none;width: 100%;background: #fff;border: solid 2px #bcbcbc;border-radius: 0 0 8px 8px;padding: 8px 0 5px;position: absolute;left: 0px;top: 37px;box-sizing: border-box;z-index: 2;}
.family-link li {text-align: left;}
.family-link li a {display: block;font-size: 14px;color: #676767;padding: 3px 12px;}
.copyright{font-size: 13px;color: #bcbcbc;}
.footer-icon{display: flex;align-items: center;}
.footer-icon span{display: inline-block;width: 32px;height: 32px;margin-left: 28px;background:url(../images/bg_footer.png) no-repeat -105px -86px;font-size: 0;text-indent: -9999px;}
.footer-icon span:first-child{width: 93px;background-position: 0 -86px;}



/* hex vision*/
.hexvision-visual{width: 100%;height: 422px;padding-top: 80px;}
.hexvision-visual > .background{top: 0;left: 0;width: 100%;height: 100%;
  background: linear-gradient(90deg, #ff61ac,#3ec9c4);
  display: flex;flex-direction: column;justify-content: space-between;align-items: center;
  position: relative;
}
.hexvision-visual .contents{width: 1200px;height: 422px;background: url(../images/bg_hexvision.png) no-repeat 80px center;position: absolute;left: 50%;top: 80px;transform: translateX(-50%);}
.hexvision-visual .contents h2{font-size: 64px;font-weight: 700;padding-left: 50%;padding-top: 125px;}
.hexvision-visual .contents p{font-size: 18px;color: #676767;padding-left: calc(50% + 5px);line-height: 1.7;padding-top: 25px;padding-right: 50px;}
.hexvision-visual .contents .background{width: 590px;height: 340px;position: absolute;left: -90px;top: 35px;}
.hexvision-visual .contents .background .circle{position: absolute;filter: blur(8px);border-radius: 50%;}
.hexvision-visual .contents .background .circle:nth-child(1) {
  left: 20px;top: 0;
  width: 115px;height: 115px;
  background: rgb(115 209 217 / 70%);
}
.hexvision-visual .contents .background .circle:nth-child(2) {
  left: 120px;top: 30px;
  width: 50px;height: 50px;
  filter: blur(5px);
  background: rgb(168 206 242 / 60%);
}
.hexvision-visual .contents .background .circle:nth-child(3) {
  left: 0px;top: 84px;
  width: 70px;height: 70px;
  background: rgb(168 206 242 / 70%);
}
.hexvision-visual .contents .background .circle:nth-child(4) {
  right: 0px;top: 100px;
  width: 100px;height: 100px;
  background: #a8cef2;
}
.hexvision-visual .contents .background .circle:nth-child(5) {
  left: 95px;bottom: 55px;
  height: 70px;
  width: 70px;
  filter: blur(5px);
  border-radius: 50%;
  background: radial-gradient(ellipse at center, rgba(255, 113, 12, 0) 40%, rgba(162,219,250,1) 56%, rgba(255,255,255,1) 100%);
}
.hexvision-visual .contents .background .circle:nth-child(6) {
  left: 50px;bottom: 0;
  width: 50px;height: 50px;
  background: #f681cc;
}



/* .outer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  background-color: #9273B0;
  margin: 10px;
  cursor:pointer;
}

.inner {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-out;
}

.outer:hover .inner {
  width: 90%;
  height: 90%;
} */